html,body{
	width:100%;
	height:100%;
}
#wrap{
	width:100%;
	height:100%;
}
#main{
	width:100%;
	height:92%;
	overflow-y: auto;
}
#tab{
	width:100%;
	height:2.5rem;
	background:white;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	border-top: 1px solid #ddd;
	padding: 0.3rem 0;
}
#tab li{
	width:25%;
	height:100%;
	font-size:0.78rem;
	float:left;
	text-align: center;
	padding-top: 1.3rem;
}

#tab li a{
	display:block;

}
.imgBack1{color: #735660;background: url("../img/home1.png") no-repeat center top;background-size:1.2rem 1.2rem;}
.imgBack2{color: #fc6496;background: url("../img/home.jpg") no-repeat center top;background-size:1.2rem 1.2rem;}
.imgBack3{color: #735660;background: url("../img/shop1.png") no-repeat center top;background-size:1.2rem 1.2rem;}
.imgBack4{color: #fc6496;background: url("../img/market.jpg") no-repeat center top;background-size:1.2rem 1.2rem;}
.imgBack5{color: #735660;background: url("../img/car1.png") no-repeat center top;background-size:1.2rem 1.2rem;}
.imgBack6{color: #fc6496;background: url("../img/car.jpg") no-repeat center top;background-size:1.2rem 1.2rem;}
.imgBack7{color: #735660;background: url("../img/mine2.png") no-repeat center top;background-size:1.2rem 1.2rem;}
.imgBack8{color: #fc6496;background: url("../img/mine.jpg") no-repeat center top;background-size:1.2rem 1.2rem;}

