html,body{
	width:100%;
	height:100%;
}
#wrap{
	width:100%;
	height:100%;
}
#main{
	width:100%;
	height:92%;
	overflow-y: auto;
}
#tab{
	width:100%;
	height:8%;
	background:white;
	position: fixed;
	z-index: 10;
}
#tab li{
	width:25%;
	height:100%;
	float:left;
	text-align: center;
}
#tab li img{
	width:1.2rem;
	height:1.2rem;
}
#tab li a{
	margin-top:0.1srem;
	display:block;
	font-size:0.7rem;
	color:#999;
}
