<div data-ui-view="">
    <div class="top">
        <a href=""><img ui-sref="home.nai" src="img/15.png" alt=""></a>
        <span ui-sref="home"><img src="img/home2.jpg" alt=""></span>
    </div>
</div>

<div class="main_list_word">
    <ul>
        <li>
            <div class="abox"><img src="{{arr.goods_thumb}}" alt=""></div>
            <div class="bbox">
                <span>¥{{arr.market_price}}</span><i>¥{{arr.shop_price}}</i>
                <p>{{arr.goods_name}}</p>
            </div>
        </li>
    </ul>
</div>
<div class="footer">
    <p ng-click="setText()">立即购买</p><span ng-click="setText()">加入购物车</span><div><img src="img/shopcar.jpg" alt=""></div>
</div>

<div class="mask" ng-click="gotHide()" ng-show="isShowa"></div>
<div class="whole" ng-show="isShowa">
    <div class="shop" >
        <div><img src="{{arr.goods_thumb}}" alt=""></div>
        <p>{{arr.goods_name}}</p>
        <span class="left">¥{{arr.market_price}}</span><i>¥{{arr.shop_price}}</i>
        <span class="right" ng-click="right()">x</span>
    </div>
    <div class="color">
        <p>颜色</p>
        <span>杏色</span>
    </div>
    <div class="size">
        <ul>
            <li ng-click="getColor()">130码(120-125cm)</li>
            <li ng-click="getColor()">125码(110-115cm)</li>
            <li ng-click="getColor()">120码(100-105cm)</li>
            <li ng-click="getColor()">110码(90-95cm)</li>
            <li ng-click="getColor()">140码(130-135cm)</li>
        </ul>
    </div>
    <div class="foott">
        <span class="s1" ng-click="buy(arr)" ui-sref="car">立即购买</span><span class="s2" ng-class="{'true':ss,'false':sss}[bcolor]">加入购物车</span>
    </div>
</div>

