#shopCar{width:100%;height: 100%;background: #f6f4f2;position: absolute;bottom:0;z-index: 12;}
#shopCarHeader{width: 100%;height: 2.5rem;background: #fff;}
#shopCarHeader>p{display: inline-block;font-size: 1rem;line-height: 2.5rem;padding-left:8rem;}
#shopCarHeader>p>span{font-size: 0.78rem;color: #735660;padding-left:4.875rem; }

#shopCarMain>span{width: 8.23rem;height: 7.45rem;overflow: hidden;display: block;background: url("../../img/bg_icons.png")no-repeat;background-size:8.23rem 11.23rem;margin: 18% 0 0 28%; }
#shopCarMain>p{width:100%;text-align: center;color: #735660;font-size:0.78rem;margin-top: 8px; }
#shopCarMain>a{display: block;width: 5rem;height: 1.7rem;line-height: 1.7rem;background: #ff6f84;border-radius:1.67rem;text-align: center; font-size: 0.67rem;color: #fff;margin: 0.5rem auto;}



#shopCarBottom{width:100%;height:3.34rem;border-top: 1px solid #d2d2d2;position: fixed;left: 0;bottom:0;font-size: 0.78rem;}
.showPinkBack{display: inline-block;width: 1.34rem;height: 1.34rem;position: absolute;left:1rem ;top:1rem;background: url("../../img/shopback2.png") no-repeat;background-size: 100%;}
.showWhiteBack{display: inline-block;width: 1.34rem;height: 1.34rem;position: absolute;left:1rem ;top:1rem;background: url("../../img/shopback.png") no-repeat;background-size: 100%;}
#shopCarBottom>span:first-of-type{color: #fc6496;position: absolute;left: 2.5rem;top: 0.9rem;}
#shopCarBottom>span:nth-of-type(2){position: absolute;left: 9rem;top: 0.3rem;}
#shopCarBottom>span:nth-of-type(3){position: absolute;left: 9rem;top: 1.4rem;font-size: 0.67rem;color: #735660;}
#shopCarBottom>span:last-of-type{position: absolute;left: 12rem;top: 0.3rem;color: #fff;width: 5rem;height: 2.23rem;background: #ff6f84;border-radius: 0.4rem;text-align: center;line-height: 2.23rem;}
