<div id="address">
    <div id="addressMain">
        <div><a ui-sref="mine"><</a>填写地址</div>
        <p>收货人<input placeholder="请输入收货人的姓名"/></p>
        <p>联系电话<input placeholder="请输入手机号码"/></p>
        <p>
            <span>所在地区</span>

        </p>
        <p>
            <span>详细地址</span>
            <input type="textarea" placeholder="请填写详细地址" rows="4" cols="20" />
        </p>
        <p>是否设置为默认地址<a ng-click="move()"><span ng-class="{true:'span1',false:'span2'}[isTrue1]"></span><i ng-class="{true:'i3',false:'i2'}[isTrue1]"></i></a></p>
        <div>保存</div>
    </div>
</div>