<div id="question">
    <div id="questionHeader">
        <img src="img/logo.png"/>
    </div>
    <ul id="questionMain">
        <li ng-click="isShow=!isShow">
            <h1>什么是辣妈商城？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow">
                <p>辣妈商城，是最大的妈妈社交平台——辣妈帮的官方商城。</p>
                <p>辣妈帮是专为已婚年轻女性打造的移动互联网女性社区。辣妈帮定位为"辣妈"群体服务，"辣妈"不光爱孩子，也关注辣妈的时尚、瘦身、美食、购物、情感等话题。</p>
                <p>为了更好地为千万辣妈们服务，辣妈帮斥巨资开设辣妈商城，为辣妈和辣宝们提供最安全、最正宗、最贴心、最便捷的进口母婴用品特卖平台。</p>
            </div>
        </li>
        <li ng-click="isShow1=!isShow1">
            <h1>辣妈商城服务协议<span>&gt;</span></h1>
            <div class="text" ng-show="isShow1">
                <p class="fb f20" align="center">辣妈商城服务协议</p>
                <p>感谢您成为辣妈商城的注册用户。</p>
                <p>
                    《辣妈商城用户服务协议》（以下简称“本协议”）是由辣妈商城网站(包括PC端、移动端及应用程序)的用户（以下简称“用户或您”）与辣妈商城网站的运营方，即北京辣妈帮科技有限公司及其关联公司（以下简称“辣妈商城”）之间，就网站交易平台服务等相关事宜共同缔结。本协议具有合同效力，您应当阅读并遵守本协议。请您务必审慎阅读、充分理解各条款内容，特别是以黑体加粗形式提示您注意的条款。除非您已阅读并接受本协议所有条款，否则您无权使用辣妈商城的服务。您使用辣妈商城的服务即视为您已阅读并同意上述协议的约束。</p>
                <p class="fb">一、 协议确认</p>
                <p>
                    1、在您完成用户注册程序后，即表示您自愿接受本协议，正式成为辣妈商城的注册用户，并认可本协议全部条款内容。若您不同意本协议，或对本协议中的条款存在任何疑问，请您立即停止辣妈商城用户注册程序，并可以选择不使用本网站服务。</p>
                <p>
                    2、根据国家法律法规变化及网站运营需要，辣妈商城有权对本协议条款不时进行修改，修改后的协议一经发布并经您确认同意后即刻生效，并代替原来的协议。您可在辣妈商城网站随时查阅最新协议。您若不同意更新后的协议，则将不能享受辣妈商城依据本协议提供的各项服务。</p>
                <p>3、本协议包括协议正文及所有辣妈商城已经发布的，或未来可能发布或更新的各类规则，包括但不限于：《退换货政策》，《辣豆使用规则》，《辣妈商城优惠券使用规则》，《发票制度》，《会员制度》等。</p>
                <p>所有规则为本协议不可分割的组成部分，与本协议正文具有同等法律效力。在您申请注册成为辣妈商城注册会员前，请仔细阅读本协议的正文内容及以上各类规则。</p>
                <p>4、您成为辣妈商城的注册用户后，即视为您确认自己具有享受辣妈商城服务、下单购物等相应的权利能力和行为能力，能够独立承担法律责任。</p>
                <p>5、辣妈商城保留在法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容、取消订单的权利。</p>
                <p class="fb">二、 账户管理</p>
                <p>
                    1、您注册成功后，辣妈商城会为您开通一个账户，作为您使用辣妈商城服务的唯一身份标识。该账户的所有权归属于辣妈商城，您仅拥有使用权。登录账户时，您可以使用您提供或确认的用户名、邮箱、手机号码或辣妈商城允许的其他方式作为注册用户名进行登录，但在登录时您必须输入您设定并保管的账户密码。为保护您的权益，您在设定账户的密码时，请勿使用重复性或者连续数字的简单密码。请您对密码加以妥善保管，切勿将密码告知他人，因密码保管不善而造成的所有损失由您自行承担。</p>
                <p>2、
                    辣妈商城只允许每位用户使用一个辣妈商城网站账户。如有证据证明或辣妈商城有理由相信您存在注册或使用多个辣妈商城网站账户的情形，辣妈商城有权采取冻结或关闭账户、取消订单、拒绝提供服务等措施，如给辣妈商城网站及相关方造成损失的，您还应承担赔偿责任。</p>
                <p>
                    3、您可以为您的账户设定昵称，但该昵称不得侵犯他人合法权益。如辣妈商城认为您设定的昵称涉嫌侵犯他人合法权益的，辣妈商城有权终止为您提供服务，并注销您的昵称。若您不再是辣妈商城的注册用户，对于您的原注册账户的昵称，辣妈商城可以将其开放给任意注册用户。</p>
                <p>4、您对通过您的账户所进行的活动、行为和事件依法享有权利和承担责任，且不得以任何形式转让账户、授权他人使用您的账户以及与他人交易账户。</p>
                <p>
                    5、鉴于网络服务的特殊性，辣妈商城无义务审核是否是您本人使用该组用户名及密码，仅审核用户名及密码是否与数据库中保存的一致，任何人只要输入的用户名及密码与数据库中保存的一致，即可凭借该组用户名及密码登陆并获得辣妈商城所提供的各类服务，所以即使您认为您的账户登陆行为并非您本人所为，辣妈商城将不承担因此而产生的任何责任。</p>
                <p>
                    6、您可以通过在辣妈商城网站参与商品评价、晒单、网站活动等方式获得积分、辣豆和优惠券。辣豆和优惠券都具有特定的使用规则和有效期，逾期将被清零；请您不时关注您账户中的辣豆和优惠券的有效期，在有效期届满前，辣妈商城将不再另行作特别通知；辣妈商城不对逾期清零的辣豆和优惠券负责。对于恶意购买和不正当手段获得的辣豆和优惠券，辣妈商城有权作出独立判断并采取包含但不限于冻结您的用户账户或清空辣豆、优惠券等措施。</p>
                <p>
                    7、若您在辣妈商城成功注册账户后，连续24个月时间内未使用该账户(包括使用此账户订购商品，发表使用体验，参与商品讨论，参加辣妈商城网站的有关活动以及使用其他服务)，则辣妈商城有权对您的账户进行清理。</p>
                <p>8、用户向辣妈商城提出注销账户申请，经辣妈商城网站审核同意后，由辣妈商城注销该用户账户，本协议即告终止。但在注销该用户账户后，辣妈商城仍有权：</p>
                <p>① 保留该用户的注册信息及过往的全部交易行为记录；</p>
                <p>② 如用户在账户注销前在辣妈商城上存在违法行为或违反本协议的行为，辣妈商城仍可行使本协议所规定的权利。</p>
                <p>9、在下列情况下，辣妈商城可以通过注销用户账户的方式单方解除本协议：</p>
                <p>①
                    在用户违反本协议相关规定时，辣妈商城有权暂停或终止向该用户提供服务。如该用户在辣妈商城暂停或终止提供服务后，再一次直接或间接或以他人名义注册为辣妈商城网站用户的，则辣妈商城有权再次暂停或终止向该用户提供服务；</p>
                <p>② 一经发现用户注册信息中的内容是虚假的，辣妈商城即有权终止向该用户提供服务；</p>
                <p>③ 本协议修改或更新时，如用户表示不愿接受新的服务协议的，辣妈商城有权终止向该用户提供服务；</p>
                <p>④ 辣妈商城认为需终止提供服务的其他情况。</p>
                <p>10、用户理解并同意，即便在本协议终止及用户的服务被终止后，辣妈商城仍有权：</p>
                <p>① 继续保存并使用您的用户信息；</p>
                <p>② 继续向用户主张在其使用辣妈商城交易平台服务期间因违反法律法规、本协议及平台规则而应承担的责任。</p>
                <p class="fb">三、 订单生效规则</p>
                <p>1、当您下订单时，请您仔细确认所购商品的名称、价格、数量、型号、规格、尺寸、联系地址、电话、收货人等信息。收货人与您本人不一致的，收货人的行为视为您的行为，您对收货人的行为承担连带责任。</p>
                <p>
                    您提交订单即表示对订单中所确认的订购商品、收货地址等信息的准确性负责。如果因为您填写的收货人联系电话、地址等信息错误，导致辣妈商城或第三方商家（或第三方商家委托的配送公司）将货物交付给非您本意的收货人的，由此造成的损失需由您自行承担。</p>
                <p>2、您理解并认可辣妈商城网站上的订单成立规则：</p>
                <p>①
                    辣妈商城网站上展示的商品信息（如商品名称、价格、商品描述等）仅构成要约邀请。当用户通过辣妈商城网站订购商品，确定购买并成功提交订单时（订单内容应包含购买的商品数量、价格及支付方式、收货人、联系方式、收货地址等信息），即视为用户向辣妈商城发出了购买订单商品的要约。</p>
                <p>② 当辣妈商城或第三方商家向用户发出通知确认商品已发出，或已将商品发送至用户指定地址时，才构成辣妈商城或第三方商家对该订单的承诺，此时订购合同即告成立。</p>
                <p>③
                    如果用户在一张订单中订购了多件商品，辣妈商城或第三方商家只向用户发出了关于其中一部分商品确认发货的通知，那么直到辣妈商城或第三方商家发出关于其他部分商品确认发货的通知，或将其他部分商品发送至用户指定地址时，关于其他部分商品的订购合同方告成立。</p>
                <p>3、辣妈商城仅向消费者提供商品销售服务，若您并非因生活消费购买商品，而是中间商、零售商或批发商，则辣妈商城有权单方取消订单。</p>
                <p>4、若您拟购买的商品超过网站内公示的购买数量限制，请您与辣妈商城联系。对于您已经从非团购渠道提交的订单，辣妈商城有权单方予以取消。</p>
                <p>5、 您有权在下列情况下，取消订单：</p>
                <p>① 经与辣妈商城协商达成一致的；</p>
                <p>② 辣妈商城对用户订单做出承诺之前；</p>
                <p>③ 辣妈商城网站上公布的商品价格发生变化或错误，用户在商城发货之前通知商城的。</p>
                <p>6、 辣妈商城在下列情况下，可以取消用户订单：</p>
                <p>① 经与辣妈商城协商达成一致的；</p>
                <p>② 辣妈商城网站上显示的商品信息明显错误或缺货的；</p>
                <p>③ 用户订单信息明显错误或用户订购数量超出商城备货量的。</p>
                <p>7、 辣妈商城在下列情况下，亦可取消用户订单：</p>
                <p>① 因不可抗力、辣妈商城网站系统发生故障或遭受第三方攻击，及其他辣妈商城网站无法控制的情形，根据辣妈商城网站判断需要取消用户订单的；</p>
                <p>② 经辣妈商城网站判断，用户订购行为不符合公平原则或诚实信用原则的情形；</p>
                <p>③ 按辣妈商城网站已经发布的或将来可能发布或更新的各类规则，可取消用户订单的其他情形。</p>
                <p class="fb">四、 用户权利与义务</p>
                <p>1、
                    您有权根据本协议的约定，以及辣妈商城网站上发布的相关规则在辣妈商城网站（含辣妈商城网站移动客户端及其他登陆客户端）上查询商品信息、订购具体商品、发表使用体验、参与商品讨论、邀请关注好友、上传商品图片、参加辣妈商城网站的有关活动，以及使用辣妈商城网站提供的其他服务。</p>
                <p>2、 您保证在辣妈商城网站购买商品过程中遵守法律法规、不违背社会公德及遵守诚实信用原则，不扰乱辣妈商城平台交易的正常秩序，因此您将不会实施以下任一行为。</p>
                <p>① 以任何机器人软件、蜘蛛软件、爬虫软件、刷屏软件等非辣妈商城认可的方式访问或登录辣妈商城网站；</p>
                <p>② 通过任何方式对辣妈商城网站造成或可能造成不合理或不合比例的重大负荷；</p>
                <p>③ 通过发送病毒、木马等行为攻击其它用户的账号或终端设备；</p>
                <p>④ 冒充辣妈商城工作人员欺骗其他用户；</p>
                <p>⑤ 下单后无正当理由拒不收货；</p>
                <p>⑥ 通过留言、评价等手段发送违规或垃圾信息；</p>
                <p>⑦ 协助他人获取不正当利益；教唆他人从事本协议所禁止的行为；</p>
                <p>⑧ 辣妈商城网站其他规则规定的不当行为。</p>
                <p>3、 您享有言论自由权利，并拥有适度修改、删除自己发表的文章、评价的权利。</p>
                <p>4、您理解并保证不在辣妈商城网站传输或发表包含以下内容的言论：</p>
                <p>① 反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；</p>
                <p>② 煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；</p>
                <p>③ 损害国家机关信誉的、损害国家荣誉和利益的、损害社会公共利益和涉及国家安全的；</p>
                <p>④ 煽动民族仇恨、民族歧视，破坏民族团结的；</p>
                <p>⑤ 任何包含对种族、性别、宗教、地域内容等歧视的；</p>
                <p>⑥ 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
                <p>⑦ 宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
                <p>⑧ 骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的，淫秽的、不文明的、公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
                <p>⑨ 其他违反宪法和法律行政法规的。</p>
                <p>5、用户在发表使用体验、商品讨论或图片等内容时，除遵守本条款外，还应遵守辣妈商城网站的其他相关规定。</p>
                <p>6、未经辣妈商城网站同意，禁止用户在辣妈商城网站上发布任何形式的广告。</p>
                <p>7、本协议依据国家相关法律法规规章制定，您同意严格遵守以下义务：</p>
                <p>① 从中国大陆向境外传输资料信息时必须符合中国有关法律法规；</p>
                <p>② 不得利用辣妈商城从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
                <p>③ 不得干扰辣妈商城的正常运营秩序，不得侵入辣妈商城网站及国家计算机信息系统；</p>
                <p>8、 除本协议或另有约定外，您理解并保证不利用在辣妈商城注册的账户进行经营活动、牟利行为及其他未经辣妈商城许可的行为，包括但不仅限于以下行为：</p>
                <p>①
                    您账户内的任何辣妈商城优惠信息（包括但不限于积分、辣豆、优惠券）由辣妈商城享有解释权和修改权，您仅享有在辣妈商城购物时的使用权，严禁转卖辣妈商城账户、积分、辣豆、优惠券或其他类型的抵扣券、礼品卡、或利用辣妈商城账户进行其他经营性行为等；</p>
                <p>② 恶意利用技术手段或其他方式，为获取优惠、折扣或其他利益而注册多个账户、下单等行为，影响其他用户正常消费行为或相关合法权益、影响辣妈商城正常销售秩序的行为；</p>
                <p>③ 以再销售或商业使用为目的，对辣妈商城商品或服务进行购买的（与辣妈商城另有合同约定的除外）；</p>
                <p>④ 商品或服务的供应商、代理商对其所供商品进行回购的行为；</p>
                <p>⑤ 任何对商品目录、说明、价格、数量、其他用户信息或其他内容的下载、转载、收集、衍生利用、复制、出售、转售或其他形式的使用，无论是否通过Robots、Spiders、自动仪器或手工操作；</p>
                <p>⑥ 辣妈商城相关规则、政策、网页、活动规则中限制、禁止的行为；</p>
                <p>⑦ 其他影响辣妈商城对用户账户正常管理秩序的行为。</p>
                <p>9、
                    您不得利用任何非法手段获取其他用户个人信息，不得将其他用户信息用于任何营利或非营利目的，不得泄露其他用户或权利人的个人隐私，否则辣妈商城有权采取措施制止您的上述行为，情节严重的，将提交公安机关处理。</p>
                <p>
                    10、您不得发布任何侵犯他人著作权、商标权等知识产权或其他合法权利的内容；如果有其他用户或权利人发现您发布的信息涉嫌知识产权、或其他合法权益争议的，这些用户或权利人要求辣妈商城删除您发布的信息，或者采取其他必要措施予以制止的，辣妈商城将会依法采取这些措施。</p>
                <p>11、若您未遵守以上规定的，辣妈商城有权做出独立判断并采取暂停或注销您的账号、冻结账号内余额、取消相应交易订单、停止发货等措施。</p>
                <p class="fb">五、 辣妈商城的权利和义务</p>
                <p>1、辣妈商城网站有义务在现有技术的基础上维护整个网站的正常运行，并努力提升和改进技术，使用户的网上交易活动得以顺利进行。</p>
                <p>
                    2、用户理解并认同，因网上交易平台的特殊性，辣妈商城没有义务对所有用户使用辣妈商城平台交易服务的过程及行为进行事前及实时审查。但用户在辣妈商城网站上有下列行为的，将授权辣妈商城可以普通、非专业人员的知识水平标准或根据自己掌握的信息进行独立判断，并有权做出相应处理，而无须事先通知用户或取得用户同意：</p>
                <p>① 辣妈商城网站有权对用户的注册信息及购买行为进行查阅，如发现注册信息或购买行为中存在任何问题的，有权向用户发出询问及要求改正或者做出冻结或关闭账户、取消订单等处理；</p>
                <p>② 用户违反本协议或辣妈商城任何规则或有违反法律法规和地方规章的行为的，辣妈商城网站有权删除其信息，禁止用户发言，限制用户订购，注销用户账户并按照相关法律规定向相关国家主管部门进行披露；</p>
                <p>③ 如用户在辣妈商城网站进行下列行为，辣妈商城有权对用户采取删除其信息、禁止用户发言、限制用户订购、冻结或注销用户账户等限制性措施：包括：</p>
                <p>a) 发布或以电子邮件或以其他方式传输存在恶意、虚假和侵犯他人人身财产权利内容的信息；</p>
                <p>b)
                    进行与网上购物无关或并非以购物为目的的活动，试图扰乱正常购物秩序；将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送；</p>
                <p>c) 干扰或破坏辣妈商城网站和服务或与辣妈商城网站和服务相连的服务器和网络；</p>
                <p>d) 发布其他违反公共利益或可能严重损害辣妈商城网站和其他用户合法利益的信息。</p>
                <p>3、用户理解并同意，当用户涉嫌侵犯他人合法权益， 辣妈商城有权在初步判断涉嫌侵权行为可能存在的情况下，在必要时可向权利人提供必要的已掌握的涉及用户的相关信息。</p>
                <p>4、用户理解并同意，当国家行政、司法机关主动依职权或根据他人的投诉，调查用户在辣妈商城网站上的相关行为时，辣妈商城有义务予以配合，并将所掌握的信息提供给上述国家机关。</p>
                <p>
                    5、用户在此授予辣妈商城无偿、永久的独家使用权，并有权对该使用权进行再授权，以使辣妈商城网站有权在全球范围内全部或部分地使用、复制、修改、改写、发布、翻译和展示用户登记或发布在辣妈商城网站上的各类信息，或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入辣妈商城网站其他作品内。</p>
                <p>
                    6、在法律法规所允许的限度内，因使用辣妈商城网站服务而引起的任何损害或经济损失，辣妈商城网站承担的全部责任均不超过就用户所购买的与该索赔有关的商品所实际获得的直接收益。这些责任限制条款将在法律所允许的最大限度内适用，并在用户账户被注销后仍继续有效。</p>
                <p>
                    7、辣妈商城网站仅限在“按现状”和“按现有”的基础上，向用户提供全部的信息、内容、材料、产品（包括软件）和服务。除非另有明确的书面说明，辣妈商城网站不对其包含在辣妈商城网站上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的担保。</p>
                <p>
                    8、不论在任何情况下，辣妈商城网站均不对由于互联网设备正常维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。</p>
                <p>9、 辣妈商城不担保网站所包含的或以其它方式通过网站提供给您的全部信息、内容、材料、产品(包括软件)和服务、其服务器或从辣妈商城网站系统发出的电子邮件、信息没有病毒或其他有害成分。</p>
                <p class="fb">六、 商品信息</p>
                <p>1、
                    辣妈商城网站上的商品信息随时有可能发生变动，辣妈商城对此不作特别通知。辣妈商城将尽所有合理必要的努力，使网站内展示的商品参数、说明、价格、库存等商品信息尽可能真实准确、全面详细。但由于网站上商品信息的数量极其庞大，且受互联网技术发展水平等客观因素的限制，网页显示的信息可能会有一定的滞后性或差错，对此情形您充分理解并予以谅解。如您发现商品信息错误或有疑问的，请在第一时间告知辣妈商城或商家，并中止提交该订单。</p>
                <p>
                    2、辣妈商城将尽最大努力确保用户所购商品价格与网站公布的价格一致，尽管如此，由于价格设置、文字描述、配图等错误及不可预见的系统故障等情形，可能出现价格误差，从而导致订单因重大误解或显失公平而无法履行的情况。若出现上述情形，建议您直接联系辣妈商城协商解决。</p>
                <p>3、由于市场变化及各种以合理商业努力难以控制的因素的影响，辣妈商城无法承诺用户通过提交订单所希望购买的商品都会有货；用户订购的商品或服务如果发生缺货，用户和辣妈商城皆有权取消该订单。</p>
                <p>4、如果发生了意外情况，您提交订单后，由于供应商提价、税额变化或者由于网页信息错误等造成商品价格变化，您可以通知辣妈商城为您取消订单。</p>
                <p>5、辣妈商城网站上显示的每一款商品（不包含保税区、海外直邮商品）的价格都包含法律规定的税金，配送费用将根据辣妈商城网站上公布的商家配送政策和用户选择的送货方式另行计收。</p>
                <p class="fb">七、 配送规则</p>
                <p>1、 商家负责将订购商品配送到用户指定的收货地址。所有在辣妈商城网站上列出的配送时间皆为参考时间，仅供用户参照使用。该参考时间是根据商品库存状况、订单处理流程和配送地点等情况综合计算得出的。</p>
                <p>2、 因如下情况造成订单延迟或无法配送、交货等，辣妈商城不承担延迟配送、交货的责任：</p>
                <p>① 您提供的信息错误、地址不详细等原因导致的；</p>
                <p>② 货物送达后无人签收，导致无法配送或延迟配送的；</p>
                <p>③ 情势变更因素导致的；</p>
                <p>④ 未能在本站所示的送货参考时间内送货的；</p>
                <p>⑤ 您与商家约定特殊时间段内送货的；</p>
                <p>⑥ 因节假日、大型促销活动、店庆、预购或抢购人数众多等原因导致的；</p>
                <p>⑦ 不可抗力因素导致的，例如：自然灾害、交通戒严、突发战争等。</p>
                <p class="fb">八、 知识产权</p>
                <p>
                    1、辣妈商城网站上的图表、标识、网页页眉、按钮图标、文字、服务品名等标示在网站上的信息都是辣妈商城网站运营方及其关联方的财产，受中国和国际知识产权法的保护。未经辣妈商城网站许可，任何人不得使用、复制或用作其他用途。在辣妈商城网站上出现的其他商标是其商标权利人各自的财产，未经辣妈商城网站运营方或相关商标所有人的书面许可，任何第三方都不得使用。</p>
                <p>2、辣妈商城网站用户发表的文章仅代表作者本人观点，与辣妈商城网站立场无关。作者文责自负。</p>
                <p>
                    3、辣妈商城网站及其关联方有权将用户在本网站发表的商品使用体验、商品讨论或图片进行使用，授权他人使用或者与其他人合作使用，使用范围包括但不限于网站、电子杂志、杂志、刊物等，使用时需为作者署名，以发表文章时注明的署名为准。文章有附带版权声明者除外。</p>
                <p>4、用户在辣妈商城网站上发表的文章及图片（包括转贴的文章及图片）版权仅归属原作者所有，若作者有版权声明或原作从其他网站转载而附带有原版权声明者，其版权归属以附带声明为准。</p>
                <p>5、 任何转载、引用发表于辣妈商城网站的版权文章须符合以下规范：</p>
                <p>① 用于非商业、非盈利、非广告性目的时需注明作者及文章及图片的出处为“辣妈商城网站”或“用于非商业、非盈利、非广；</p>
                <p>② 用于商业、盈利、广告性目的时需征得文章或图片原作者的同意，并注明作者姓名、授权范围及原作出处“辣妈商城网站”或“用于商业、盈利、广告性目；</p>
                <p>③ 任何文章或图片的修改或删除均应保持作者原意并征求原作者同意，并注明授权范围。</p>
                <p class="fb">九、 用户信息收集、使用与保护</p>
                <p>
                    1、您承诺以真实身份注册成为辣妈商城的用户，并保证所提供的个人资料信息真实、准确、完整、合法有效，并在相关资料发生变更时及时更新注册信息，依据法律规定和本协议约定对所提供的信息承担相应的法律责任。同时，您保证辣妈商城可以通过相关信息与您本人进行联系。辣妈商城有权审查您注册所提供的相关信息是否真实、有效。若您所提供的资料信息与事实不符或所提供的资料信息已变更而未及时更新或有任何误导之嫌，导致辣妈商城无法为您提供或进一步提供服务，辣妈商城不因此承担任何责任，同时您须承担可能因此引起的相应责任及后果，并且辣妈商城有权注销您的注册账户，终止您使用辣妈商城提供的各类注册用户服务的权利。</p>
                <p>
                    2、您在辣妈商城网站进行注册、浏览、下单购物、发表评价、参加活动等行为时，涉及您的真实姓名/名称、通信地址、联系电话、电子邮箱、订单详情、评价或反馈、投诉内容、cookies等信息的，辣妈商城有权从完成交易、提供配送、售后及客户服务、开展活动、完成良好的顾客体验等多种角度予以收集，并将对其中涉及个人隐私信息予以严格保密。</p>
                <p>辣妈商城保证不对外公开或向任何第三方提供您的个人信息，但是存在下列情形之一的除外：</p>
                <p>① 事先获得您的明确授权；</p>
                <p>② 系为履行您的订单或保护您的合法权利所必须；</p>
                <p>③ 系为履行法律义务；</p>
                <p>④ 本注册协议或其他条款另有约定。</p>
                <p>3、请阅读辣妈商城网站的隐私声明以了解隐私政策。该声明适用于您访问辣妈商城网站，或在辣妈商城网站购买商品或使用辣妈商城网站提供的任何服务。</p>
                <p>4、Cookies的使用规则</p>
                <p>① 通过辣妈商城网站所设Cookie所取得的有关信息，将适用本规则；</p>
                <p>② 在辣妈商城网站上发布信息的第三方通过其所发布信息在用户计算机上设定Cookies的，将遵照该第三方的隐私权政策；</p>
                <p>③ 编辑和删除个人信息的权限：用户可以点击“我的辣妈商城”对用户的个人信息进行编辑和删除，除非辣妈商城网站另有规定。</p>
                <p>5、您同意，辣妈商城拥有通过邮件、短信、电话、网站通知或声明等形式，向您及您指定的收货人发送订单信息、促销活动、售后服务、客户服务等告知信息的权利。如您不希望接收上述信息，可退订。</p>
                <p>
                    6、您同意，您选择向辣妈商城的商家提交订单购买商品时，视为您向该商家披露个人相关信息，接受商家向您提供商品销售、配送、售后服务、客户服务、处理信用卡付款、数据分析、市场营销或其他必要事宜。如前述全部或部分事宜涉及由商家外的第三方履行的，商家有权将您的信息以必要方式向第三方披露，第三方有权以履行上述事宜为目的联系您。</p>
                <p>7、您同意，辣妈商城有权使用您的注册信息、用户名、密码等信息，登录进入您的注册账户，进行证据保全，包括但不限于公证、见证、协助司法机关进行调查取证等。</p>
                <p class="fb">十、 软件形式</p>
                <p>若辣妈商城依托“软件”向您提供交易平台服务，您还应遵守以下约定：</p>
                <p>1、辣妈商城可能为不同的终端设备开发不同的软件版本，您应当根据实际需要选择下载合适的版本进行安装。</p>
                <p>2、如果您从未经合法授权的第三方获取本软件或与本软件名称相同的安装程序，辣妈商城将无法保证该软件能否正常使用，并对因此给您造成的任何损失不予负责。</p>
                <p>
                    3、为了增进用户体验、完善服务内容，辣妈商城将不时提供软件更新服务(该更新可能会采取软件替换、修改、功能强化、版本升级等形式)。为了改善用户体验，保证服务的安全性和功能的一致性，辣妈商城有权对软件进行更新或者对软件的部分功能效果进行改变或限制。</p>
                <p>4、软件新版本发布后，旧版软件可能无法使用。辣妈商城不保证旧版软件继续可用，及相应的客户服务，请您随时核对并下载最新版本。</p>
                <p>5、 除非法律允许或辣妈商城书面许可，您不得从事下列行为：</p>
                <p>① 删除软件及其副本上关于著作权的信息；</p>
                <p>② 对软件进行反向工程、反向汇编、反向编译或者以其他方式尝试发现软件的源代码；</p>
                <p>③ 对辣妈商城拥有知识产权的内容进行使用、出租、出借、复制、修改、链接、转载、汇编、发表、出版、建立镜像站点等；</p>
                <p>④
                    对软件或者软件运行过程中释放到任何终端内存中的数据、软件运行过程中客户端与服务器端的交互数据，以及软件运行所必需的系统数据，进行复制、修改、增加、删除、挂接运行或创作任何衍生作品，形式包括但不限于使用插件、外挂或非经合法授权的第三方工具/服务接入软件和相关系统；</p>
                <p>⑤ 修改或伪造软件运行中的指令、数据，增加、删减、变动软件的功能或运行效果，或者将用于上述用途的软件、方法进行运营或向公众传播，无论上述行为是否为商业目的；</p>
                <p>⑥ 通过非辣妈商城开发、授权的第三方软件、插件、外挂、系统，使用辣妈商城平台服务，或制作、发布、传播非辣妈商城开发、授权的第三方软件、插件、外挂、系统；</p>
                <p>⑦ 其他未经辣妈商城明示授权的行为。</p>
                <p class="fb">十一、适用的法律和管辖权</p>
                <p>本协议的订立、执行和解释及争议的解决均应适用中华人民共和国的法律。如就本协议内容或其执行发生任何争议，则双方应首先通过友好协商方式解决；协商不成的，任何一方均应向北京市朝阳区人民法院提起诉讼。</p>
                <p class="fb">十二、其他</p>
                <p>1、本协议构成双方对本协议之约定事项及其他有关事宜的完整协议，除本协议规定的之外，未赋予本协议各方其他权利。</p>
                <p>2、如本协议中的任何条款无论因何种原因被视为完全或部分无效或不具有执行力，该条应视为可分的，且不影响本协议的任何其余条款的有效性、约束力及可执行性。</p>
                <p>3、本协议中的标题仅为方便而设，不具法律或契约效果。</p>
            </div>
        </li>
        <li ng-click="isShow2=!isShow2">
            <h1>辣妈商城消费者告知书<span>&gt;</span></h1>
            <div class="text" ng-show="isShow2">
                <p>尊敬的辣妈：</p>
                <p>在您选购跨境商品前，麻烦您仔细阅读此文，同意本文所告知内容后再进行下单购买。</p>
                <p>1. 您在辣妈商城购买的跨境商品为产地直销，仅限个人自用不得再进行销售。商品直接进入试点城市保税仓，接受海关监管，为消费者直接在海外购买商品。</p>
                <p>2. 您在辣妈商城购买保税区发货或海外直邮包裹的境外商品时，商品本身可能无中文标签，您可以查看网站的翻译或者在线联系我们的客服。</p>
                <p>3. 您购买的境外商品适用的品质，健康，标识等项目使用标准等符合原产国使用标准，但是可能与我国使用标准有所不同，所以在使用过程中由此可能产生的危害或者损失以及其他风险，由您个人承担。</p>
            </div>
        </li>
        <li ng-click="isShow3=!isShow3">
            <h1>辣妈商城有哪些商品？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow3">
                <p>辣妈商城是专业的进口母婴用品特卖商城，主营海外奶粉，原装纸尿裤，宝宝洗护用品，营养辅食，喂养用品，童车玩具，妈妈用品等品类。</p>
            </div>
        </li>
        <li ng-click="isShow4=!isShow4">
            <h1>辣妈商城有什么优势？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow4">
                <p>1、拥有专业的国际采购团队，从各国海外媒体、专家报道、海量信息中提炼各国母婴品牌最有口碑、最值得信耐、品牌最优质的商品，提供给妈妈们选择。我们不推销商品，只做商品的搬运工。</p>
                <p>2、我们只选择诚信、有责任感的海外供应服务商、经销商或大陆地区品牌总代理商进行商品采购，保证商品是原装进口或国内正品行货。</p>
                <p>3、千万妈妈们的口碑，口口相传，让我们的产品都是值得信赖和放心，也经得起考验。我们不卖最贵的产品，只卖最适合的产品。</p>
            </div>
        </li>
        <li ng-click="isShow5=!isShow5">
            <h1>辣妈商城的进口商品有哪些采购来源？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow5">
                <p>一种是海外直邮，如奶粉类货品。与世界各地奶粉供应服务商合作，给商城用户提供海外直邮奶粉服务。我们提供客户订单给海外供货商，由海外供货商直接发货到客户手中。</p>
                <p>一种是大宗货品直接采购，如纸尿裤类、喂养用品、辅食类原装产品，通过海运从美国、日本等原产地运输到中国港口，完成商检、通关清关手续，交纳关税后，运输到辣妈商城仓储中心，备货销售。</p>
                <p>一种是从国外品牌的中国大陆地区总经销商或代理商进行采购，获得相应的官方品牌授权，保证正品行货。</p>
                <p>辣妈商城保证，所销售的商品都是经过精挑细选、严格审核的正品。</p>
            </div>
        </li>
        <li ng-click="isShow6=!isShow6">
            <h1>如何购买商品？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow6">
                <p>打开辣妈商城App，挑选喜爱的商品加入购物车，填写并核对订单信息，在订单有效期6小时内，通过支付宝、银联、微信完成在线支付。便可安心等待快递公司将我们的商品送到您的府上。</p>
            </div>
        </li>
        <li ng-click="isShow7=!isShow7">
            <h1>加入购物车已经完成预定？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow7">
                <p>不是的。如果您想订购该商品，请把该商品加入购物车后进行结算支付。我们的订单有效期是6小时，为了不耽误您购买商品，请及时付款。</p>
            </div>
        </li>
        <li ng-click="isShow8=!isShow8">
            <h1>订单无法提交成功？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow8">
                <p>可能存在以下几种情况： </p>
                <p>（1）订单信息填写不完整；</p>
                <p>（2）订单商品库存不足或者库存无货；</p>
                <p>（3）订单商品不能配送到您所填写的收货地址；</p>
                <p>（4）网络问题；</p>
                <p>以上各种情况都会在页面中弹出提示信息，可以通过修改订单信息（提示信息）或者稍后再试，即可成功提交订单。</p>
            </div>
        </li>
        <li ng-click="isShow9=!isShow9">
            <h1>"暂时缺货"的商品多久到货？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow9">
                <p>一般补货时间是7-15个工作日。由于进口产品采购周期较长，您可以使用到货提醒功能，商品到货后辣妈商城会第一时间通知您。</p>
            </div>
        </li>
        <li ng-click="isShow10=!isShow10">
            <h1>什么是海外直邮？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow10">
                <p>海外直邮又可称为海外私人直邮。</p>
                <p>从海外购买商品，通过国际私人包裹方式，经过两个国家的海关，使用两国邮政对接的模式，发送到国内私人手里，用于个人使用（不做商业用途）。</p>
            </div>
        </li>
        <li ng-click="isShow11=!isShow11">
            <h1>怎么订购海外直邮奶粉？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow11">
                <p>
                    客户在辣妈商城下单后（一般国际私人直邮奶粉6罐或8罐，不超过5公斤），商城的海外供货服务商在当地各大超市、药店进行采购，打包装箱后直接发正规国际快递空运直邮到客户手中，全程完全由两国邮政对接，不经第三方中转。</p>
            </div>
        </li>
        <li ng-click="isShow12=!isShow12">
            <h1>海外直邮商品多久到货？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow12">
                <p>
                    海外直邮商品运输节点包括海外内陆运输、国际物流运输、国内清关和国内运输四个环节。其中，国内清关环节需要视海关包裹清关处理能力，时间难以精确估计。正常情况下，海外48小时内发货，5—10天收货。但受到物流、海关清关速度、节假日等因素影响会有延误，需要4-6周左右时间。</p>
                <p>部分偏远地区，由于地域原因，收到货的时间可能会相应更长。</p>
            </div>
        </li>
        <li ng-click="isShow13=!isShow13">
            <h1>海外直邮商品可以退货吗？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow13">
                <p>海外直邮商品如无质量问题，暂不接受退货，谨慎下单。</p>
            </div>
        </li>
        <li ng-click="isShow14=!isShow14">
            <h1>直邮奶粉有何票据？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow14">
                <p>
                    直邮奶粉，都是国外供货商在超市采购或批量采购，可提供超市小票或批量采购票证，但无法与你购买的货品一一对应。如果您需要国外采购小票，可联系辣妈商城客服为您提供电子版购物凭证，不在商品包裹中同时发出。</p>
                <p>辣妈商城可以为您开具国内发票，我们会在商品收到后14日后，邮寄发票给您。</p>
            </div>
        </li>
        <li ng-click="isShow15=!isShow15">
            <h1>海外直邮商品怎么查看物流信息？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow15">
                <p>海外直邮商品均由知名的国际物流公司从海外直接发货，一般下单付款成功后3天左右可以在购物信息里查询到运单号，由于国际物流公司周六日节假日不工作，可能会延迟，请耐心等待。</p>
                <p>获取运单号猴，可以在http://www.kuaidi100.com/ 快递100中输入国际订单号查询。也可登陆德国dhl官网：http://www.dhl.de/
                    比利时邮政：http://www.bpostinternational.com/en/contact 查询。</p>
            </div>
        </li>
        <li ng-click="isShow16=!isShow16">
            <h1>直邮奶粉不一致？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow16">
                <p>海外奶粉生产商不定期会更换包装，所以客户不同时间购买所收到产品包装会有不同，辣妈商城所有的产品都是海外直接采购，日期包装都很新。网页包装更新稍慢，具体以您收到的实际货物为准。</p>
            </div>
        </li>
        <li ng-click="isShow17=!isShow17">
            <h1>为何直邮奶粉每次需购买指定数量？<span>&gt;</span></h1>
            <div class="text"ng-show="isShow17">
                <p>海关对私人邮寄国际包裹有一定的货值标准限制,
                    超过标准存在退运的风险。为避免退运，同时考虑物流成本，方便包装运输降低爆罐的几率，"600g包装的奶粉8罐""800g包装的奶粉6罐"是最合适的单次运输规格。</p>
                <p>此外，同样规格的奶粉可以混拼购买。</p>
            </div>
        </li>
        <li ng-click="isShow18=!isShow18">
            <h1>怎么购买更多直邮奶粉？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow18">
                <p>如果一次购买量大，请使用不同收件人名字和地址下单，我们将分开发货，可能会出现到货时间上的先后差异。</p>
            </div>
        </li>
        <li ng-click="isShow19=!isShow19">
            <h1>直邮商品关税如何收取？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow19">
                <p>
                    海外会根据相关规定对私人直邮包裹进行随机抽查，如果被抽查到，可能需要交纳相应的行邮税。一旦抽到需客户承担，目前奶粉类税率为10%，化妆品类是50%。目前进口奶粉的关税税率约为每公斤20元，部分海关和邮局政策不同，会收取保管费，检查费等，具体规则以当地海关规定为准。</p>
                <p>如果被税，需要缴纳相关税费后才能取回货物。交税时，需提交身份证明，所以客户下单提供的姓名必须是真实姓名。</p>
            </div>
        </li>
        <li ng-click="isShow20=!isShow20">
            <h1>万一产生关税，如何缴纳？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow20">
                <p>交税方式包括收货人亲自到海关交税、邮政上门代收税、邮局汇款、银行汇款等, 领回包裹的方式也各不相同。大部分地区通常均由EMS派送包裹时代收关税，无须亲自去海关处理，具体方式以当地海关为准。</p>
            </div>
        </li>
        <li ng-click="isShow21=!isShow21">
            <h1>运费政策？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow21">
                <p>包含海外直邮及保税区发货商品的订单一律免邮费。</p>
                <p>纸尿裤类商品单笔订单满四包或以上免邮，四包以下每包收取10元运费。</p>
                <p>非纸尿裤类商品，单笔订单订满188元包免邮费，未满188元的订单收取10元邮费 </p>
                <p>包含纸尿裤类商品的订单，金额满688元免邮，不满688元按纸尿裤数量参照纸尿裤类商品运费规则收取运费。</p>
                <p>实际情况以提交订单时的提示为准。</p>
            </div>
        </li>
        <li ng-click="isShow22=!isShow22">
            <h1>购买后多久发货？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow22">
                <p>海外直邮商品发货时间为订单支付成功后72小时内；其他商品发货时间为订单支付成功后24小时内，如遇重大节假日发货时间可能稍有延迟，敬请谅解。</p>
            </div>
        </li>
        <li ng-click="isShow23=!isShow23">
            <h1>物流快递公司有哪些？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow23">
                <p>海外直邮商品均由Bpost、DHL、EMS等国际正规快递公司空运至国内，国内EMS配送到您家。</p>
                <p>其他产品我们会根据订单地址，使用不同的快递公司。</p>
                <p>暂不支持、港、澳、台及海外地区的配送。</p>
            </div>
        </li>
        <li ng-click="isShow24=!isShow24">
            <h1>订单状态和物流信息怎么查？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow24">
                <p>
                    可以在辣妈商城App中实时查看您的订单记录及配送情况，如遇重大节假日会略有延迟，请耐心等待，稍后即可查询到。海外快递公司物流信息如订单已显示为发货状态，但无物流信息显示，请您耐心等待。国内快递公司物流系统在订单发货后，即可查询到物流信息。</p>
            </div>
        </li>
        <li ng-click="isShow25=!isShow25">
            <h1>我下单付款支付不了？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow25">
                <p>请更换支付方式尝试。</p>
                <p>根据支付宝相关规定，移动快捷支付每日有一定支付限额。超过500元的订单，请先对支付宝账号充值再使用账号余额支付。</p>
                <p>如银联、微信等支付方式不能支付，请检查手机网络，或咨询银行客服。</p>
            </div>
        </li>
        <li ng-click="isShow26=!isShow26">
            <h1>辣豆是什么？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow26">
                <p>用户购买商品成功会，会获得数量为付款金额10%的辣豆。可以在购物时抵扣现金，每个辣豆抵扣0.1元，不可提现及转赠。您还可以通过参与活动等方式获取相应数量的辣豆。</p>
            </div>
        </li>
        <li ng-click="isShow27=!isShow27">
            <h1>能否提供发票？<span>&gt;</span></h1>
            <div class="text" ng-show="isShow27">
                <p>
                    辣妈商城提供免费正规机打发票。发票金额只包含购买商品的金额，不包含运费。目前，发票不随着货品同时发出，如需发票请在收到货品14日后（无退货）至三个月内联系客服。由客服人员为您开具发票，逾期将不予受理。</p>
            </div>
        </li>

    </ul>
</div>