<div data-ui-view="">
    <div id="top">
        <p></p>
        <span ui-sref=".search"><a href=""><img src="img/search.jpg" alt=""></a></span>
        <div class="scrollTop"  ng-click="press()">123</div>
    </div>
    <div id="swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div ng-repeat="obj in arr" class="swiper-slide"><img src="{{obj.banner}}" /></div>
            </div>
            <div class="swiper-pagination"></div>

        </div>
    </div>

    <div class="jump">
        <ul>
            <li ui-sref=".nai"><img src="img/1.png" alt=""><a href="">奶瓶专场</a></li>
            <li ui-sref=".yimajing"><img src="img/2.png" alt=""><a href="">姨妈巾区</a></li>
            <li ui-sref=".japan"><img src="img/3.png" alt=""><a href="">日本专场</a></li>
            <li ui-sref=".baoshui"><img src="img/4.png" alt=""><a href="">保税直邮</a></li>
            <li ui-sref=".hufu"><img src="img/5.png" alt=""><a href="">护肤美妆</a></li>
        </ul>
    </div>

<div class="clearfix"></div>
<div class="scroll">
    <span></span>
    <ul class="scrollList">
        <li><a href="">暂无数据</a></li>
    </ul>
</div>
<div class="clearfix"></div>

<div class="show">
    <div class="one"><img src="img/shengdan.jpg" alt=""></div>
    <div class="two"><img src="img/shengdan1.jpg" alt=""></div>
</div>
<div class="clearfix"></div>

<div class="middle">
    <div class="time"><p>每日一秒 00:00:00</p></div>
    <ul>
        <li ng-repeat="obj5 in arr5">
            <div><img src="{{obj5.banner}}"/></div>
            <span>¥{{obj5.hits}}</span>
            <p>{{obj5.discount}}折</p>
        </li>
    </ul>
</div>

<div class="showImg">
    <div ng-repeat="obj1 in arr1"><img src="{{obj1.banner}}" alt=""></div>
</div>

<div class="word">
    <ul >
        <li><a href="jsvascript:void(0)">今日特卖</a></li>
        <li ui-sref=".chance"><a href="">还有机会</a></li>
        <li ui-sref=".sold"><a href="">即将开售</a></li>
    </ul>
    <div class="slider"></div>
</div>
<div class="show_word">
    <ul>
        <li ng-repeat="obj3 in arr3">
            <div><img src="{{obj3.banner}}" alt=""></div>
            <p>{{obj3.spec_name}}</p>
           <span>已售<i>{{obj3.sold_total_nums}}</i>件</span>
            <span>{{obj3.notice}}</span>
            <span><b>{{obj3.discount}}</b>折起</span>
        </li>
    </ul>
</div>
<div class="clearfix"></div>

<div class="word_space">
    <p></p>
</div>

<div class="main_word">
    <ul class="main_word_list">
        <li ng-repeat="obj4 in arr4">
            <div><img src="{{obj4.goods_thumb}}" alt=""></div>
            <p>{{obj4.goods_name}}</p>
            <span>已售 <i>{{obj4.sold_number}}</i> 件</span>
            <span class="s1">¥{{obj4.shop_price}}</span><span class="s2">¥{{obj4.market_price}}</span>
        </li>
    </ul>
</div>




<div class="space">

</div>
</div>