<div data-ui-view="">
    <div id="top">
        <p></p>
        <span ui-sref=".search"><a href=""><img src="img/search.jpg" alt=""></a></span>
        <a class="scrollTop" href="javascript:scroll(0,0)"></a>
    </div>
    <div id="swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div ng-repeat="obj in arr" class="swiper-slide"><img src="{{obj.banner}}" /></div>
            </div>
            <div class="swiper-pagination"></div>

        </div>
    </div>

    <div class="jump">
        <ul>

            <li ui-sref=".nai"><img src="img/1a.png"/><a href="">奶瓶专场</a></li>
            <li ui-sref=".yimajing"><img src="img/2a.png"/><a href="">姨妈巾区</a></li>
            <li ui-sref=".japan"><img src="img/3a.png"/><a href="">日本专场</a></li>
            <li ui-sref=".baoshui"><img src="img/4a.png"/><a href="">保税直邮</a></li>
            <li ui-sref=".hufu"><img src="img/5a.png"/><a href="">护肤专区</a></li>
        </ul>
    </div>

<div class="clearfix"></div>
<div class="scroll">
    <span></span>
    <div>
        <ul>
            <li><a>佳* 在2分钟前购买了: 【保税直发】日本moony尤妮佳  拉拉裤男宝XL38（体重12-17公斤适用）保税区2包起售</a></li>
            <li><a>家* 在5秒前购买了: 【保税直发】日本KOSE高丝 维C面膜 5片装*2盒</a></li>
            <li><a>子* 在21秒前购买了: 丽贝乐（libero） 婴儿纸尿裤 5号超大包装L80片（体重10-16KG适用）</a></li>
            <li><a>唯* 在38秒前购买了: 索尔诺简易书架学生书柜居家创意置物架储物收纳柜sjsx103</a></li>
            <li><a>卢* 在53秒前购买了: Aokeou/奥克欧  3盒*200支婴儿两用棉签细轴棉花棒棉球耳孔清洁棉</a></li>
            <li><a>辣* 在1分钟前购买了: 美国Nuby努比 乳感硅胶挤压软头勺子辅食婴儿童餐具 天蓝色 免邮</a></li>
            <li><a>小* 在1分钟前购买了: 日本原装Moony 拉拉裤XL38标准装女宝宝</a></li>
            <li><a>悲* 在1分钟前购买了: FITTI菲比 秒吸舒爽纸尿裤 L号84片 3公斤装</a></li>
            <li><a>悲* 在2分钟前购买了: 【送牙胶盒】Aokeou/奥克欧 婴儿牙胶宝宝磨牙棒0-3岁AKO-YJ6</a></li>
            <li><a>佳* 在2分钟前购买了: 【保税区直发】 德国Signall洁诺海盗/公主儿童牙刷 1-6岁单支乳牙牙刷</a></li>
            <li><a>佳* 在2分钟前购买了: 【保税直发】日本moony尤妮佳  拉拉裤男宝XL38（体重12-17公斤适用）保税区2包起售</a></li>
            <li><a>家* 在5秒前购买了: 【保税直发】日本KOSE高丝 维C面膜 5片装*2盒</a></li>
        </ul>
    </div>

</div>
<div class="clearfix"></div>

<div class="show">
    <div class="one"><img src="img/shengdan.jpg" alt=""></div>
    <div class="two"><img src="img/shengdan1.jpg" alt=""></div>
</div>
<div class="clearfix"></div>

<div class="middle">
    <div class="time"><p>每日一秒 00:00:00</p></div>
    <ul>
        <li ng-repeat="obj5 in arr5">
            <div><img src="{{obj5.banner}}"/></div>
            <span>¥{{obj5.hits}}</span>
            <p>{{obj5.discount}}折</p>
        </li>
    </ul>
</div>

<div class="showImg">
    <div ng-repeat="obj1 in arr1"><img src="{{obj1.banner}}" alt=""></div>
</div>

<div class="word">
    <ul >
        <li><a href="jsvascript:void(0)">今日特卖</a></li>
        <li ui-sref=".chance"><a href="">还有机会</a></li>
        <li ui-sref=".sold"><a href="">即将开售</a></li>
    </ul>
    <div class="slider"></div>
</div>
<div class="show_word">
    <ul>
        <li ng-repeat="obj3 in arr3">
            <div><img src="{{obj3.banner}}" alt=""></div>
            <p>{{obj3.spec_name}}</p>
            <span>已售<i>{{obj3.sold_total_nums}}</i>件</span>
            <span>{{obj3.notice}}</span>
            <span><b>{{obj3.discount}}</b>折起</span>
        </li>
    </ul>
</div>
<div class="clearfix"></div>

<div class="word_space">
    <p></p>
</div>

<div class="main_word">
    <ul class="main_word_list">
        <li ng-repeat="obj4 in arr4">
            <div><img src="{{obj4.goods_thumb}}" alt=""></div>
            <p>{{obj4.goods_name}}</p>
            <span>已售 <i>{{obj4.sold_number}}</i> 件</span>
            <span class="s1">¥{{obj4.shop_price}}</span><span class="s2">¥{{obj4.market_price}}</span>
        </li>
    </ul>
</div>



<div class="space">

</div>
</div>