<div class="top">
    <a href=""><img src="img/15.png" alt="" ui-sref="home"></a>
    <input type="text">
</div>

<div class="left">
    <ul>
        <li><a href="">免税店</a></li>
        <li><a href="">直邮百货</a></li>
        <li><a href="">纸尿裤</a></li>
        <li><a href="">奶粉</a></li>
        <li><a href="">婴幼洗护</a></li>
        <li><a href="">辅食营养</a></li>
        <li><a href="">喂养用品</a></li>
        <li><a href="">女性专区</a></li>
        <li><a href="">儿童玩具</a></li>
        <li><a href="">食品保健</a></li>
        <li><a href="">日常家用</a></li>
        <li><a href="">童车汽坐</a></li>
        <li><a href="">婴儿服饰</a></li>
        <li><a href="">童装童鞋</a></li>
        <li><a href="">幼儿寝具</a></li>
        <li><a href="">成长辅食</a></li>
    </ul>
</div>