<div data-ui-view="" class="show">
    <div id="marketBox">
        <header>
            商城
            <span ui-sref="market"></span>
        </header>
        <div class="entrance"></div>
        <div class="floor">
            <h2>1F 辣妈美妆</h2>
            <ul>
                <li ui-sref=".anessa">
                    <img src="img/anessa.jpg" alt="">
                </li>
                <li ui-sref=".wylp">
                    <img src="img/wylp.png" alt="">
                </li>
                <li ui-sref=".kzl">
                    <img src="img/kzl.png" alt="">
                </li>
                <li ui-sref=".kingwife">
                    <img src="img/kingwife.jpg" alt="">
                </li>
                <li ui-sref=".sana">
                    <img src="img/sana.png" alt="">
                </li>
                <li ui-sref=".aiu">
                    <img src="img/aiu.png" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/jmj.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/goatSoap.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/cloud.jpg" alt="">
                </li>
            </ul>
        </div>
        <div class="floor">
            <h2>2F 品质奶粉</h2>
            <ul>
                <li ui-sref=".dumex">
                    <img src="img/dumex.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/devondale.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/bilo.jpg" alt="">
                </li>
            </ul>
        </div>
        <div class="floor">
            <h2>3F 喂养大咖</h2>
            <ul>
                <li ui-sref="market.kzl">
                    <img src="img/adl.png" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/mkq.jpg" alt="">
                </li>
                <li ui-sref=".rk">
                    <img src="img/rk.jpg" alt="">
                </li>
            </ul>
        </div>
        <div class="floor">
            <h2>4F 营养辅食</h2>
            <ul>
               <li ui-sref=".gnc">
                    <img src="img/gnc.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/black.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/nulax.jpg" alt="">
                </li>
            </ul>
        </div>
        <div class="floor">
            <h2>5F 儿童玩具</h2>
            <ul>
                <li ui-sref=".Fisherprice">
                    <img src="img/aaa.png" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/bbb.png" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/ccc.png" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/ddd.png" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/eee.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/fff.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/ggg.jpg" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/hhh.png" alt="">
                </li>
                <li ui-sref="market.kzl">
                    <img src="img/iii.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>
