<div data-ui-view="" class="show">
    <div id="marketBox">
        <header>
            商城
            <span ui-sref="market"></span>
        </header>
        <div class="entrance"></div>
        <div class="floor">
            <h2>1F 辣妈美妆</h2>
            <ul>
                <li ui-sref=".wylp">
                    <img src="img/wylp.png" alt="">
                </li>
                <li ui-sref=".anessa">
                    <img src="img/anessa.jpg" alt="">
                </li>
                <li ui-sref=".kzl">
                    <img src="img/kzl.png" alt="">
                </li>
                <li ui-sref=".kingwife">
                    <img src="img/kingwife.jpg" alt="">
                </li>
                <li ui-sref=".sana">
                    <img src="img/sana.png" alt="">
                </li>
                <li ui-sref=".aiu">
                    <img src="img/aiu.png" alt="">
                </li>
                <li ui-sref=".jmj">
                    <img src="img/jmj.jpg" alt="">
                </li>
                <li ui-sref=".goatSoap">
                    <img src="img/goatSoap.jpg" alt="">
                </li>
                <li ui-sref=".cloud">
                    <img src="img/cloud.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>
