#user{width: 100%;height: 100%;position: absolute;z-index: 11;background: #f6f6f6}
#userHeader{width: 100%;height:2.5rem;line-height: 2.5rem;background: #fff; font-size: 1rem;border: 1px solid #e3e3e3; }
#userHeader>img{padding-right: 6rem;padding-left:0.5rem;display: inline-block;width:0.8rem;height: 1rem;  }
#userMain{width: 100%;height:2.2rem;background: #fff;margin-top: 0.5rem;font-size: 0.78rem;color: #322228;line-height: 2.2rem;padding-left: 0.5rem;}
#userMain>a{padding-left: 12.5rem;font-size: 1rem;}
#userBottom{width: 100%;height: 2.67rem;background: #ff6f84;color: #fff;line-height: 2.67rem;text-align: center;font-size:0.84rem; position: fixed;left: 0;bottom: 0;}