*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.goodsList{
    width: 100%;
    height:100%;
    background: rgb(246,246,246);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.goodsList .header{
    height: 2rem;
    background: #ffffff;
    padding: 0.5rem;
}
.goodsList .header span{
    display: inline-block;
    background-image: url("../../../img/mall_icons.png");
    background-size: 120px;
}
.goodsList .header .toFather{
    width: 0.61rem;
    height:1.25rem;
    background-position: -22px -140px;

}
.goodsList .header .toHome{
    width: 1.25rem;
    height:1.25rem;
    background-position: -57px -140px;
    margin: 0 11.5rem 0 1.5rem;
}
.goodsList .header .share{
    width: 1.25rem;
    height:1.25rem;
    background-position: -35px -140px;
}
/*轮播*/
.goodsList .swiper-wrapper{
    width: 100%;
    height: 17.78rem;
}
.goodsList .swiper-wrapper img{
    width: 100%;
    height: 100%;
}
.goodsList .price{
    height: 2rem;
    line-height: 2rem;
    background: #ffffff;
}
.goodsList .price .shopPrice{
    font-size:1.2rem;
    color: red;
    margin:0 1rem 0 1rem;
}
.goodsList .price .marketPrice{
    text-decoration: line-through;
}
.goodsList h2{
    font-size:0.9rem;
    background: #fff;
    padding: 0.5rem;
}
.goodsList .buy{
    width:100%;
    height:2.72rem;
    line-height: 2.72rem;
    text-align: center;
    color: #ffffff;
    font-size: 0.9rem;
    position: fixed;
    bottom:0;
    display: flex;
}
.goodsList .buy .btnBuy{
    width:40%;
    height: 100%;
    background: rgb(145,97,29);
}
.goodsList .buy .addCar{
    width:40%;
    height: 100%;
    background: rgb(252,100,150);
}
.goodsList .buy .carNum{
    width:20%;
    height: 100%;
    background: rgb(115,86,96);
}
.popupWinow{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index:199;
}
.goodsWindow{
    width:100%;
    height: 16rem;
    background: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index:299;
}
.goodsWindow .head{
    height: 3.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    border: 1px solid lightgray;
    margin-bottom: 1rem;
}
.goodsWindow .head img{
    width:3rem;
    height: 3rem;
}
.goodsWindow .head p{
    width:12.77rem;
    height: 100%;
    padding: 0.6rem 0 0 0;
}
.goodsWindow .head .icon{
    width: 2rem;
    height: 100%;
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
}
.goodsWindow .btns{
    width: 100%;
    height: 2.22rem;
    margin-top: 7rem;
    display: flex;
    justify-content: space-around;
}
.goodsWindow .btns>div{
    width: 8.28rem;
    height: 100%;
    line-height: 2.22rem;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 6px;
}
.goodsWindow .btns .btn1{
    background: rgb(255,171,52);
}
.goodsWindow .btns .btn2{
    background: rgb(252,100,150);
}