<div id="about">
    <div id="aboutHeader">
        <p><a ui-sref="mine"><</a>关于辣妈商城</p>
    </div>
    <div id="aboutMain">
        <p></p>
        <ul>
            <li>
                <h3><i></i>5400万妈妈依赖的自营海外特卖商城</h3>
                <p>辣妈商城是辣妈帮旗下自营的海外母婴电商特卖，在这里，您可以尽情选购5400万中国妈妈共同推荐的海外直邮商品及保税区商品。依托辣妈帮用户的高活跃度及庞大的信息资源，辣妈商城首创“众荐”模式，基于辣妈帮用户5亿多条帖子进行大数据分析，找到妈妈们共同的选择。在日本、德国、英国、荷兰、美国、澳大利亚都有我们的直采团队为您服务，对选品、质量及价格层层把关，给您更多保障。辣妈商城保证百分百海外正品，奶粉爆罐包赔，支持14天无理由退货政策。24小时极速发货。</p>
            </li>
            <li>
                <h3><i></i>孙俪倾情代言辣妈帮</h3>
                <p>2015年3月6日，辣妈帮宣布完成1亿美元的C轮融资，国内著名影星孙俪正式代言辣妈帮 。在此之前，孙俪凭借着《甄嬛传》、《辣妈正传》等知名影视剧，成为国内明星辣妈的代表，具有强大的粉丝号召力。在生活中，孙俪是一个好女儿、好妻子、好母亲，善良而富有爱心，积极参与各类慈善公益活动，她身上的正能量，正是辣妈帮5400万用户的写照。作为辣妈帮的资深用户，孙俪代言辣妈帮，正是实至名归，必将会掀起母婴行业的新浪潮。</p>
            </li>
            <li>
                <h3><i></i>中国首家社区母婴电商品牌</h3>
                <p>辣妈商城是中国首家移动社区母婴电商品牌，以“众荐”为核心概念，让辣妈帮社区内的妈妈们自己选出最优质的商品，万千妈妈的推荐分享，让您的担心为零，只为给您一份安心。</p>
            </li>
        </ul>
        <ul>
            <li>
                <div><img src="img/zp.png"/></div>
                <p>由辣妈帮精选海外优质伙伴共同为您选购正品优质货品，透明化我们的采购渠道，让您省去寻找正品的烦恼。百分百海外正品是辣妈商城给您最基本的承诺，只为给您一份安心。</p>
            </li>
            <li>
                <div><img src="img/pei.png"/></div>
                <p>辣妈商城担保，如您的货品在途中如受爆罐风险，我们全力承担，只为给您一份安心。</p>
            </li>
            <li>
                <div><img src="img/7day.png"/></div>
                <p>辣妈商城支持7天无理由退货政策，只为给您一份安心。</p>
            </li>
            <li>
                <div><img src="img/24h.png"/></div>
                <p>从采购到接单，我们以最快的速度，最饱满的热度帮您细心配置所订货物，用最快的效率将货品送到您的手中，只为给您一份安心。</p>
            </li>
        </ul>
    </div>
    <div id="aboutBottom">
        <p>版权所有&copy辣妈帮</p>
        <p>Shenzhen Wangzhi technology Co., LTD 2009-2015 All Rights Reserved </p>
    </div>
</div>